<div class="container__big-card">

      <div class="big-card__photo">
         <img 
            src="https://static.todamateria.com.br/upload/pa/is/paises-da-africa-og.jpg?class=ogImageWide" 
            alt=" Imagem do continente africano"
            height="200px"
            width="400px" 
            srcset=""
         >

      </div>

      <div class="big-card__title">
      <h1><a href="">Apresentando para você a África</a></h1>

      </div>
      <div class="big-card__description">
            <p>
               <a href="">  
                  Aqui mostraremos as imagens que as mídias não mostram.
               </a>   
            </p>

      </div>

</div>
